body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #000;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

song {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
}

img {
    border-radius: 200px;
    border: 5px solid #ffffff;
    opacity: 70%;
    width: 300px;
    height: 300px;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    background: -webkit-linear-gradient(45deg, #f4ffc0, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000000;
    margin: 0px;
    transition: all 500ms;
}

h1:hover {
    font-size: 71px;
    cursor: pointer;
    transition: all 500ms;
    background-color: #555;
    background: -webkit-linear-gradient(45deg, #cfcfcf, #606060);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 500ms;
}

p {
    margin: 0px;
    color: rgb(156, 156, 156);
    font-size: 13px;
    font-weight: 600;
    transition: all 500ms;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000000;
}

p b {
    margin: 0px;
    color: rgb(239, 239, 239);
    font-size: 14px;
    font-weight: 600;
    transition: all 500ms;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000000;
}

p:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 500ms;
    color: rgb(211, 211, 211);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

button {
    box-shadow: 0px 0px 10px whitesmoke;
    transition: all 500ms;
    border: none;
    margin: 4.5px;
    margin-top: 15px;
    width: 160px;
    height: 80px;
    font-size: 20px;
    text-shadow: rgb(31, 31, 31) 1px 0 10px;
    color: #ffffff;
}

button:hover,
button:active {
    transform: scale(1.5);
    cursor: pointer;
    transform: translateY(-5px);
    background-color: #b7b7b7;
}

.help {
    background-color: rgb(26, 26, 26);
    background-position: center;
    background-size: cover;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 20px;
    text-align: center;
}

.help:hover {
    transition: all 500ms;
    background-color: rgb(24, 24, 24);
}

.cmds {
    background-color: rgb(26, 26, 26);
    background-position: center;
    background-size: cover;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 20px;
    text-align: center;
}

.cmds:hover {
    transition: all 500ms;
    background-color: rgb(24, 24, 24);
}

.earn {
    background-color: rgb(26, 26, 26);
    background-position: center;
    background-size: cover;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 20px;
    text-align: center;
}

.earn:hover {
    transition: all 500ms;
    background-color: rgb(24, 24, 24);
}
